  body 
  {
    height: 100%;
    width:100%;
    margin: 0;
    overflow:hidden;
    background-color: #545454;
    font-family: 'RobotoDraft', sans-serif;
  }

  a 
  {
    color: #4183c4;
    text-decoration: none;
  }

  img
  {
    max-width: 100%;
  }

  ul
  {
    padding-left:32px;
  }

  .task-list-item-checkbox
  {
    float: left;
    margin-left: -20px;
    margin-top: 4px;
  }

  #display
  {
    padding-left:10px;
    padding-right: 10px;
    z-index: 2;
  }

  #display, #note, #edit
  {
    left: 200px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
  }

  #display, #edit
  {
    overflow: scroll;
  }

  #note
  {
    overflow: hidden;
  }

  #edit
  {
    display: none;
  }

  #edit textarea
  {
    font-size:24px;
  }

  #note
  {
    position: absolute;
    left:200px;
    top:0px;
    background-color:#fff;
    overflow:scroll;
    /*background-image: url('img/paper_fibers.png');*/
  }

  #pageflip
  {
    position: fixed;
    bottom:0px;
    right:0px;
    width:50px;
    height:50px;
    background-color: #c0c0c0;
  }
  

  #list
  {
    z-index:2;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 200px;
    /*background-color: #12131c; */
    background-color: #545454;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #actions
  {
    position: fixed; 
    top: 0px;
    right: 0px;
    display: none;
    z-index: 5;
  }

  #find
  {
    display: none;
    position: fixed;
    bottom:0px;
    right: 0px;
    z-index:5;
  }
/*
  #code
  {
    margin-left:-10px !important;
    color: #fff;
    padding:5px;
    background-color: #272822;
  }
  */
 
  pre
  {
    overflow:hidden;
    margin-left:-10px !important;
    color: #000; 
    /*color: #fff;*/
    padding:5px;
    /*background-color: #272822;*/
    background-color: #f8f8f8;
    word-wrap: break-word;
  }

  table 
  {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table th 
  {
    font-weight: bold;
  }

  table tr 
  {
    background-color: #fff;
    border-top: 1px solid #ccc;
  }

  table th, table td 
  {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  table tr:nth-child(2n) 
  {
    background-color: #f8f8f8;
  }